body {
    background-color: white;
}

h5{
    text-align: center;
}


.fa .fa-pencil-square-o {
    color: red;
    text-align: right;
}

.editButton{
    color:white;
    background-color: rgb(255, 0, 85);
    border: white;
    float: right;
    margin-right: 0.3%;
 
}

.likeButton, .commentButton{
    color:white;
    background-color: rgb(255, 0, 85);
    border: white;
    float: left;
    margin-left: 0.3%;
}

.fa .fa-save {
    color: red;
    text-align: right;
}


.saveButton{
    color:white;
    background-color: rgb(255, 0, 85);
    border: white;
    float: right;
    margin-right: 0.3%;
}  
      


.author{
    padding-top: 50px;
}

#postTitle:focus {
    outline-color: rgb(228, 97, 169);
}

#postBody:focus {
    outline-color: rgb(228, 97, 169);
}

.commonBorder{
    margin-left: 20px;
    margin-right: 20px;
}

.commonFont{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

#likeText{
    color:grey;
}

#outline{
outline-color: grey;
outline-width: 5px;
}

#indComments{
    border:5px solid grey;
}